
.bg {
  position: fixed; 
  top: 0; 
  left: 0; 
	
  min-width: 100%;
  min-height: 100%;
}

footer {
  position: absolute;
  width: 555px;
  height: 83px;
  right: 47px;
  bottom: 47px;

  font-family: 'Antic';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 33px;
  display: flex;
  align-items: center;
  text-align: center;
}

.name {
  position: absolute;
  width: 555px;
  height: 83px;
  left: 50px;
  top: 140px;
  font-family: 'Kiwi Maru';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 93px;
  display: flex;
  align-items: center;
  text-align: center;
}

.start {
  position: absolute;
  width: 555px;
  height: 83px;
  left: 370px;
  bottom: 325px;
  
  font-family: 'Kiwi Maru';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 93px;
  display: flex;
  align-items: center;
  text-align: center;
}

ul {
  list-style-type: none;
  text-align: center;
  display: inline;
}

a {
  text-decoration: none;
  color: black;
}

.who {
  position: absolute;
  width: 555px;
  height: 50px;
  top: 75px;
  left: 125px;
  bottom: 325px;
  
  font-family: 'Kiwi Maru';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 93px;
  display: flex;
  align-items: center;
  text-align: center;
}

.aboutme {
  display: flex;
  position: absolute;
  font-family: Kiwi Maru;
  font-size: 36px;
  font-weight: 400;
  line-height: 52px;
  top: 150px;
  left: 450px;
  width: 325px;
  letter-spacing: 0em;
  text-align: center;
}

.arrow {
  display: flex;
  position: absolute;
  width: 49px;
  height: 36px;
  top: 40px;
  left: 60px;
  cursor: pointer;
}

.Me {
  display: flex;
  position: absolute;
  width: 336px;
  height: 327px;
  border-radius: 163.5px;
  top: 250px;
  left: 50px;
}

.icons {
  position: absolute;
  width: 555px;
  height: 83px;
  left: 380px;
  bottom: 245px;
  
  font-family: 'Kiwi Maru';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 93px;
  display: flex;
  align-items: center;
  text-align: center;
}

.ig {
  position: absolute;
  width: 75px;
  height: 75px;
  top: -180px;
  left: -200px;
  background: url(IG);
  border-radius: 113.5px;
}

.fb {
  position: absolute;
  width: 75px;
  height: 75px;
  top: -75px;
  left: -200px;
  background: url(FB);
  border-radius: 124px;
}

.twt {
  position: absolute;
  width: 87px;
  height: 73px;
  top: 50px;
  left: -200px;
  background: url(Twitter);
}

.gh {
  position: absolute;
  width: 75px;
  height: 75px;
  top: 180px;
  left: -200px;
  background: url(GIthub);
  border-radius: 110.5px;
}

.socials {
  position: absolute;
  width: 555px;
  height: 83px;
  left: 285px;
  bottom: 245px;
  
  font-family: 'Kiwi Maru';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 93px;
  display: flex;
  align-items: center;
  text-align: center;
}

.hangman {
  display: flex;
  position: absolute;
  width: 240px;
  height: 245px;
  top: -20px;
  left: -350px;
}

.hw {
  display: flex;
  position: absolute;
  width: 240px;
  height: 245px;
  top: -20px;
  left: -25px;
}

.tama {
  display: flex;
  position: absolute;
  width: 240px;
  height: 245px;
  top: -20px;
  left: 250px;
}

.gotchi {
  position: absolute;
  width: 600px;
  height: 83px;
  left: 80px;
  top: 260px;
  font-family: 'Kiwi Maru';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 93px;
  display: flex;
  align-items: center;
  text-align: center;
}

.description {
  position: absolute;
  width: 450px;
  height: 70px;
  right: 125px;
  top: 128px;
  font-family: 'Kiwi Maru';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: center;
}

.program {
  position: absolute;
  width: 600px;
  height: 83px;
  left: 50px;
  bottom: 20px;
  font-family: 'Kiwi Maru';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 93px;
  display: flex;
  align-items: center;
  text-align: center;
}

.firstlang {
  display: flex;
  position: absolute;
  width: 70px;
  height: 77px;
  bottom: 75px;
  left: 315px;
}

.secondlang {
  display: flex;
  position: absolute;
  width: 70px;
  height: 77px;
  bottom: 75px;
  left: 415px;
}